<script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="opiBO5hOcQSy8c43EjuWaaSwUxwYFKKu4B6NomhCsmI=";</script>
<div id="player">Loading the player...</div>
<script type="text/javascript">
  jwplayer("player").setup({
    width: '100%',
    height: '100%',
    autostart: <%= @autostart ? 'true' : 'false' %>,
    image: '<%= escape_javascript @idle_image %>',
    title: '<%= escape_javascript @title %>',
    description: '<%= escape_javascript @description %>',
    mediaid: '<%= escape_javascript @mediaid %>',
    sources: <%=raw @sources.to_json %>,
  });
</script>
