<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8" />
  </head>
  <body>
    <form id="history-form" style="display: none;">
        <input type="hidden" id="x-history-field" />
        <iframe id="x-history-frame"></iframe>
    </form>

    <%= stylesheet_link_tag 'ext/resources/css/ext-all' %>
    <%= stylesheet_link_tag 'extgui' %>

    <%= javascript_include_tag Rails.application.config.extgui.ext_asset %>

    <script type="text/javascript">
      Ext.Loader.setConfig({
        enabled: true,
        paths: {
          'Ext': '/assets/ext/src',
          'Ext.ux': '/assets/ux',
          'Extgui': '/assets/extgui',
          'Ygg': { handler: 'automodel', path: '/ygg' },
          <%=raw Rails.application.config.extgui.routes.map { |k,v|
                "'#{escape_javascript(k)}': '#{escape_javascript(v)}'" }.join(",\n") %>
        },
      });
    </script>

    <%= javascript_include_tag Rails.application.config.extgui.main_js %>

    <% if @faye_source_uri %>
    <script type="text/javascript" src="<%= @faye_source_uri %>"></script>
    <% end %>

    <script type="text/javascript">

    Ext.require('Ext.grid.Panel');

function doStuff() {
    var a = new Ext.grid.Panel({
      renderTo: Ext.getBody(),
      height: 300,
      columns: [
       {
        text: 'Decollo',
        dataIndex: 'takeoff',
       },
      ],
    });

//  Ygg.Dns.Zone.load(2315, { success: function(record) {
//    a.setValue(record.records());
//  }});

  a.show();
};


    Ext.onReady(function() {
//      Extgui.AjaxJson.request({
//        url: '/ygg/session/check_or_create',
//        method: 'POST',
//        jsonData: {},
//        timeout: 60000,
//        success: function(resp) {
//          if (resp.responseJSON.authenticated) {
//            doStuff();
//          } else {
//            Extgui.AjaxJson.request({
//              url: '/ygg/session/authenticate_by_fqda_and_password',
//              method: 'POST',
//              jsonData: {
//                fqda: '',
//                password: '',
//              },
//              success: function() {
//                doStuff();
//              },
//              failure: Extgui.ExceptionWindow.ajaxFailure
//            });
//          }
//        },
//        failure: Extgui.ExceptionWindow.ajaxFailure
//      });

      doStuff();
    });

    </script>
  </body>
</html>
